.m-nav {
    &__checkbox {
        display: none;
    }

    &__button {
        height: 70px;
        width: 70px;
        position: fixed;
        top: 6px;
        right: 6px;
        z-index: 2000;
        text-align: center;
        cursor: pointer;

    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -600px;
        z-index: 1500;
        background-color: $black;
        width: 240px;
        transition: all .3s ease;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        width: 100%;

        &:first-child {
            user-select: none;
            font-size: 3vh;
            font-weight: $font-weight-bold;
            color: $white;
            text-transform: uppercase;
            cursor: pointer;

            span {
                cursor: pointer;
                display: inline-block;
                transition: all .3s;

                &:hover,
                &:active {
                    transform: translateX(10px);
                }
            }

            @media(min-height: 600px) {
                font-size: $font-size-large;
            }
        }

    }

    &__item {
        padding: 2vh 0 2vh 4vh;
        cursor: auto;

        @media(min-height: 600px) {
            padding-left: 35px;
        }

        &.m-nav__item--sub {
            width: 100%;
            padding: 2vh 0 2vh 4vh;
            background-color: $white;

            @media(min-height: 600px) {
                padding-left: 35px;
            }

            a {
                color: $black;

                &:hover,
                *:active {
                    background-image: none;
                }
            }

        }

        &.m-nav__item--contact {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .m-nav__ico--phone {
                margin-left: 5px;
            }

            img {
                margin-right: 10px;
            }

            a {
                font-size: 2vh;
                font-weight: $font-weight-regular;
                text-transform: lowercase;
                color: $reddish;

                @media(min-height: 600px) {
                    font-size: $font-size-small;
                }
            }
        }
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            user-select: none;
            font-size: 3vh;
            font-weight: $font-weight-bold;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s;

            @media(min-height: 600px) {
                font-size: $font-size-large;
            }
        }

        &:hover,
        &:active {
            transform: translateX(10px);
        }
    }


    //FUNCTIONALITY

    &__checkbox:checked~&__nav {
        right: 0;

    }


    //ICON
    &__icon {
        top: 32px;
        position: relative;
        user-select: none;

        &,
        &::before,
        &::after {
            width: 35px;
            height: 5px;
            background-color: $white;
            display: inline-block;
            margin-bottom: 6px;

        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -12px;
        }

        &::after {
            top: 12px;
        }
    }

    &__button:hover &__icon::before {
        top: -14px;
    }

    &__button:hover &__icon::after {
        top: 14px;
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    @include responsive(desktop) {
        display: none;
    }
}


.d-nav {
    display: none;
}

@include responsive(desktop) {

    .d-nav {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 93px;
        width: 100%;
        background-color: $black;


        &--wrapper {
            flex-basis: 1200px;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;

            .d-nav__left {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .d-nav__right {
                flex-basis: 60%;
                display: flex;
                align-items: stretch;
                justify-content: flex-end;
            }

            .d-nav__nav {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-basis: 100%;
            }

            .d-nav__contact {
                display: flex;
                align-self: flex-end;

                &--phone,
                &--mail {
                    display: flex;
                    align-items: center;
                    margin-left: 30px;

                    img {
                        margin: 0;
                    }
                }

                &__link {
                    margin-left: 15px;
                    font-size: 15px;
                    text-decoration: none;
                    color: $reddish;
                }
            }

            .d-nav__list {
                display: flex;
                justify-content: flex-end;
                list-style-type: none;
                align-self: flex-end;
            }


            .d-nav__item {
                margin-left: 30px;
                font-size: 16px;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                color: $white;
                user-select: none;

                a {
                    transition: all .3s;
                }

                &:first-child {
                    position: relative;

                    &:hover>ul.d-nav__dropdown {
                        display: block;
                    }

                    &:hover>span {
                        color: $reddish;
                    }
                }

                span {
                    transition: all .3s;
                    white-space: nowrap;
                    cursor: pointer;

                }

            }

            .d-nav__dropdown {
                list-style-type: none;
                display: none;
                background-color: $white;
                position: absolute;
                bottom: -154px;
                left: -27px;
                z-index: 1;
                width: 128px;
                height: 156px;

                li {
                    a {
                        transition: all .3s;
                    }
                }

                li:nth-of-type(1) {
                    height: 10px;
                    background-color: $black;
                }

                li:nth-of-type(2) {
                    height: 4px;
                    background-color: $reddish;
                }

                li:not(:nth-of-type(1)) {
                    margin-bottom: 20px;
                }

                li:hover>a {
                    color: $reddish;
                }


                .d-nav__link {
                    color: black;
                }
            }

            .d-nav__link {
                text-decoration: none;
                color: inherit;

                &:hover {
                    color: $reddish;
                }
            }
        }

    }

}


.hidden {
    display: none;
}

.clicked {
    color: $reddish;
}